# Ignorar archivos de configuración y credenciales
.env
.env.local
.env.production
.env.development
.env.*  # Ignorar cualquier otro archivo con formato .env.*

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo

# Ignorar archivos de logs
*.log
logs/
debug.log

# Ignorar dependencias de Python
venv/
.venv/

# Ignorar archivos de IDEs (Visual Studio Code, PyCharm)
.vscode/
.idea/

# Ignorar archivos de MacOS
.DS_Store

# Ignorar carpetas de entorno de Poetry
poetry.lock